<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>


<style>

.header_flag{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.mm_oo{
    border: 70px;
    border-color: rgb(184, 48, 48);
    width:'100%';
   min-height: 100px;
}


.header_body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.row_one{
    display: flex;
    flex-direction: column;
}

.description{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 10px;
}

h6{
    font-size: 14px;
    color: black;
}

h2{
    font-size: 16px;
    text-decoration: underline;
    margin-left: 10px;
}


.border_add{
    border: 1px;
    border-color: #ebebf5;
    border-radius: 10px;
    margin-top: 10px;
    border-style:solid;
}

.button_color{
  
}

</style>





<body>
    <div class="container">
  <div class="header_flag">
<img src="https://admin.codexxa.co.in/img/img/logo.png"/>
  </div>  
<br/>



<div class="header_body">
    <div class="col_one">
<h6></h6>
<h6>Title : {{data.task_title}}</h6>
<h6>Address : {{data.task_address}}</h6>
<h6>Unit Name : {{data.unit_name}}</h6>
<h6>Corporate : {{data.corporate_name}}</h6>
    </div>

<div class="col_one">
<h6>Report Id : 0011254585</h6>
<h6>Exe. Date :  {{formatTime  data.task_execution_date "MM-DD-YYYY"}}</h6>
<h6>Completion Date : {{formatTime  data.task_end_date  "MM-DD-YYYY"}}</h6>
<h6>Attendant Name : {{data.task_assigned_user_name}}</h6>
  
</div>

</div>









{{#arr}}
<div class="border_add">
{{#ifEquals is_resolved false}} 
    <div class="description">
<h6>Name : {{activity_name}}</h6>
<div style="display: flex; flex-direction: row;" >  
<div>
Status :
</div>

<div style="background-color: rgb(31, 22, 165); margin-left: 5px; color: antiquewhite; border: #ebebf5; border-radius: 5px; font-size: 14px;font-weight: bold; margin: 2px;">
 <div style="padding: 2px;margin-left: 3px;margin-right: 3px;">
    ok
 </div>

</div>
</div>

    </div>
{{/ifEquals}}

{{#ifEquals is_resolved true}} 

 <div class="description">
<h6>Name : {{activity_name}}</h6>

{{#ifEquals is_repair true}} 

<div style="display: flex; flex-direction: row;" >  
  <div>
  Status :
  </div>
  
  <div style="background-color: rgba(26, 201, 20, 0.952); margin-left: 5px; color: antiquewhite; border: #ebebf5; border-radius: 5px; font-size: 14px;font-weight: bold; margin: 2px;">
   <div style="padding: 2px;margin-left: 3px;margin-right: 3px; color: rgba(255, 255, 255,1);">
      Resolved
   </div>
  
  </div>
  </div>
  
<h6>Action Perform : Repair</h6>
{{/ifEquals}}

{{#ifEquals is_replace true}}

<div style="display: flex; flex-direction: row;" >  
  <div>
  Status :
  </div>
  
  <div style="background-color:  rgba(26, 201, 20, 0.952); margin-left: 5px; color: rgb(243, 242, 241); border: #ebebf5; border-radius: 5px; font-size: 14px;font-weight: bold; margin: 2px;">
   <div style="padding: 2px;margin-left: 3px;margin-right: 3px; color: rgba(255, 255, 255,1);">
  Resolved
   </div>
  </div>
  </div>
  

<h6>Action Perform : Replace</h6>
<h6>Quantity : {{quentity}}</h6>
{{/ifEquals}}
<h6>component :  {{component}}</h6>
<h6>Remark :  {{remark}}</h6>
    </div>


<div >
  <h2>Before photo</h2>
<div class="row">
       {{#photo_before}}
      <div class="col-sm-4" >
        <img src="https://admin.codexxa.co.in/{{photo_name}}" style="height: 300px; width:100%; margin:5px; "/>
    </div>
       {{/photo_before}}
    </div>
<h2>After photo</h2>
    <div class="row">
       {{#photo_after}}
      <div class="col-sm-4" >
        <img src="https://admin.codexxa.co.in/{{photo_name}}" style="height: 300px; width:100%; margin:5px; "/>
    </div>
       {{/photo_after}}
    </div>
{{#ifEquals is_repair true}} 

<div style="display: flex;margin-left: 10px ; flex-direction: row;border: 2px;border-radius: 5px;border-style: solid;width: 300px;">
<div style="margin-left: 10px;">
Cost : 
</div>

<div style="margin-left: 5px; font-size: 14px;font-weight: 'bold';">
  {{component_repaire_cost}}
</div>


</div>

{{/ifEquals}}



{{#ifEquals is_replace true}}
<div style="display: flex;margin-left: 10px ; flex-direction: row;border: 2px;border-radius: 5px;border-style: solid;width: 400px;">
  <div style="margin-left: 10px;">
  Component Cost : 
  </div>
  
  <div style="margin-left: 5px; font-size: 14px;font-weight: 'bold';">
  {{component_cost}}
  </div>
  </div>
<br/>
<div style="display: flex;margin-left: 10px ; flex-direction: row;border: 2px;border-radius: 5px;border-style: solid;width: 400px;">
  <div style="margin-left: 10px;">
 Total Component Cost : 
  </div>
  
  <div style="margin-left: 5px; font-size: 14px;font-weight: 'bold';">
  {{component_cost}} * {{quentity}} = {{multiplay  component_cost quentity}}
  </div>
  </div>
{{/ifEquals}}

</div>
 {{/ifEquals}}
</div>
{{/arr}}








<br/>
<br/>

  
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>



           
           